body{
	font-family: Arial, sans-serif;
	background-color: #A7D2F1;
	margin: 50px;
}

h1{
	text-align:center;
}



ul {
	list-style:none;
}

li {
	margin: 20px;
}

button {
	width: 30%;
	background-color: #f9baea;
	border-radius: 20px;
	font-size: 16px;
}

button:hover {
  background-color: #ff92e5; /* Green */
  color: white;
}

button {
	padding:20px;
}
ul {
	list-style:none;
}